/* 
* Colors:
*
* - hsl(0, 0%, 100%)
* - hsl(275, 100%, 97%)
* - hsl(292, 16%, 49%)
* - hsl(292, 42%, 14%)
*
* Font-family:
*   Work Sans
*
* Font-size:
*   16px
*
* Font-weight:
*   400, 600, 700
*/

/* *************************** */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  color: #2f1533;
  background-color: #f9f0ff;
  height: 100vh;
}

ul {
  list-style: none;
}

/* *************************** */
.header {
  min-height: 40vh;
  margin-bottom: 3.2rem;
  background-image: url("./assets/images/background-pattern-desktop.svg");
}

.main {
  display: flex;
  justify-content: center;
}

.accordion {
  padding: 3.2rem 3.2rem 2.4rem;
  width: 100%;
  max-width: 60rem;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-33%);
}

.header-section {
  margin-bottom: 4.2rem;
  display: flex;
  gap: 1.6rem;
}

.main-icon {
  width: 3.5rem;
}

.main-heading {
  font-size: 4.8rem;
}

/* *************************** */
/* Questions */

.questions-list {
  display: flex;
  flex-direction: column;
}

.questions-list li {
  padding: 2.4rem 0;
  border-bottom: 1px solid #b3b3b3;
}

.questions-list li:first-child {
  padding-top: 0;
}

.questions-list li:last-child {
  border-bottom: none;
}

.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-box:hover,
.question-box:active {
  color: #ad28eb;
  cursor: pointer;
}

.question {
  font-size: 1.6rem;
  font-weight: 600;
}

.icon {
  cursor: pointer;
}

.answer {
  color: #8c6991;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* *************************** */
.hidden {
  max-height: 0;
}

/* *************************** */
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 704px / 16px = 44em (Smaller Tablets)*/
@media (max-width: 44em) {
  .accordion {
    margin: 5%;
  }
}
